[Desktop Entry]
Type=Application
Version=1.0
Name=Install NEEBLES
GenericName=NEEBLES Installer
Exec=calamares-install-debian
Comment=Install N.E.E.B.L.E.S. OS
Keywords=neebles;system;install;installer
Icon=neebles-install
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
