label live-amd64
	menu label Start ^N.E.E.B.L.E.S. OS
	menu default
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components quiet splash

label live-amd64-failsafe
	menu label Start N.E.E.B.L.E.S. OS (Safe Mode)
	linux /live/vmlinuz
	initrd /live/initrd.img
	append boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
