[Unit]
Description=NEEBLES Check privileged inventory helper

[Service]
Type=oneshot
ExecStart=/usr/lib/neebles/neebles-check-helper
User=root
Group=root
StandardInput=socket
StandardOutput=socket
StandardError=journal
NoNewPrivileges=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
