[Desktop Entry]
Type=Application
Name=NEEBLES Theme
Exec=/usr/lib/neebles/apply-neebles-theme
NoDisplay=true
StartupNotify=false
X-KDE-autostart-phase=1
OnlyShowIn=KDE;
